<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial;
        }

        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

        .subtab button {
            background-color: #ddd;
            padding: 10px 12px;
            font-size: 12px;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }
        .subtab button.active {
            background-color: #808080;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            -webkit-animation: fadeEffect 1s;
            animation: fadeEffect 1s;
        }

        /* Fade in tabs */
        @-webkit-keyframes fadeEffect {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @keyframes fadeEffect {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .alert {
            padding: 20px;
            background-color: #f1f1f1;
            color: white;
        }

        .closebtn {
            margin-right: 15px;
            color: white;
            font-weight: bold;
            float: left;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }
    </style>
</head>
<body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/GET_POST.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/GET_POST.js"></script>


    Current State: <span id="state">No wallet selected</span>

    <div class="tab maintab">
        <button class="tablinks maintab" onclick="openTab(event, 'maintab', 'KeysWallets')">Keys/Wallets</button>
        <button class="tablinks maintab" onclick="openTab(event, 'maintab','Peers')">ChainConfig</button>
        <button class="tablinks maintab" onclick="openTab(event, 'maintab','Payment')">Payment</button>
        <button class="tablinks maintab" onclick="openTab(event, 'maintab','Balance')">Balance</button>
        <button class="tablinks maintab" onclick="openTab(event, 'maintab','TxView')">TxView</button>
        <button class="tablinks maintab" onclick="openTab(event, 'maintab','Info')">Info</button>
        <br />
        <br />
        <div class="alert">
            <span class="closebtn" onclick="closeAlert();">&times;</span>
            <span id='alertText'></span>
        </div>
    </div>

    <div id="KeysWallets" class="tabcontent maintab">
        <div class="tab subtab keytab">
            <button class="tablinks keytab" onclick="openTab(event, 'keytab', 'createWallet')">Create Wallet</button>
            <button class="tablinks keytab" onclick="openTab(event, 'keytab','selectWallet')">Select Wallet</button>
            <button class="tablinks keytab" onclick="openTab(event, 'keytab','TBD')">Import Wallet</button>
            <button class="tablinks keytab" onclick="openTab(event, 'keytab','TBD')">Export Wallet</button>
            <button class="tablinks keytab" onclick="openTab(event, 'keytab','TBD')">Import Key</button>
            <button class="tablinks keytab" onclick="openTab(event, 'keytab','TBD')">Export Key</button>
            <button class="tablinks keytab" onclick="openTab(event, 'keytab','infok')">Info</button>
        </div>
        <div id="createWallet" class="tabcontent keytab">
            Provide new wallet name <br />
            <input type="text" id="walletName" value="" size="20"><br />
            <input type="checkbox" id="quickSelWallet"> Auto-Select wallet for use
            <br /><br />
            <button class="keys" onclick="createWallet()">Submit</button>
        </div>
        <div id="selectWallet" class="tabcontent keytab">
            <button class="keys" onclick="clrWallet()">Close current wallet</button><br />
            Choose name of Wallet to be used:<br />
            <select id="selWallet" class="options">
                <option value="__clr"></option>
                <option value="0">offline0</option>
                <option value="1">offline1</option>
            </select>
            <br />
            <input type="checkbox" id="usePubKey"> Use public key for payment<br />
            <input type="checkbox" id="useAddress"> Use address for payment<br />
            <input type="checkbox" id="useName"> Use name for payment<br />
            <button class="keys" onclick="selectWallet()">Submit</button>
        </div>
        <div id="infok" class="tabcontent keytab">
            Keys are managed within so-called 'wallets'. Wallets only hold keys, they don't contain 'monetary' value.
            Before payments can be made or balances be queried, a specific wallte needs to be activated.
            Keys can be grouped in different wallets, as wallets are distinguished by names.
        </div>
        <div id="TBD" class="tabcontent keytab">
            This function/feature is not yet implemented...
        </div>

    </div>

    <div id="Peers" class="tabcontent maintab">
        <div class="tab subtab peertab">
            <button class="tablinks peertab" onclick="openTab(event, 'peertab', 'checkPeer')">Check Peer connection</button>
            <button class="tablinks peertab" onclick="openTab(event, 'peertab','managePeer')">Manage Peers</button>
            <button class="tablinks peertab" onclick="openTab(event, 'peertab','infop')">Info</button>
        </div>
        <div id="checkPeer" class="tabcontent peertab">
            <button type="button" onClick="JavaScript:doGET('peers','responseN')" style="background-color:#b6ff00"> /peers</button>
            <button type="button" onClick="document.getElementById('responseN').value=''">Reset Log</button>
            <br /><button type="button" onClick="JavaScript:doGET('listNodes','responseN')" style="background-color:#5e5858"> /listNodes [additional API]</button>
            <br /><textarea id="responseN" cols="50" rows="12"></textarea>
        </div>
        <div id="managePeer" class="tabcontent peertab">
            Add a new
            <button type="button" onClick="JavaScript:doPOST('peers/connect','replyDataN','POSTDataN')" style="background-color:#b6ff00">/peers/connect</button>
            <button type="button" onClick="document.getElementById('replyDataN').value=''">Reset Log</button>
            <br />
            Place data for commands in here:
            <br />
            <textarea id="POSTDataN" cols="50" rows="5">{"peerUrl":"http://127.0.0.1:5555"}</textarea>
            <textarea id="replyDataN" cols="50" rows="5"></textarea>
        </div>
        <div id="infop" class="tabcontent peertab">
            Set and check the peer(s) with which you want to connect. <br />
            All communication will be attempted with all peers. If they reply <u>differently</u>, then
            the majority data will be shown, with an indication that some nodes disagree..
        </div>
    </div>

    <div id="Payment" class="tabcontent maintab">
        <input type="number" id="payAmount" value="-1" size="20" onkeypress="JavaScript:updateProgress()"> Payment amount<br />
        <input type="number" id="payFees" value="20" size="20" onkeypress="JavaScript:updateProgress()"> Payment fees<br />
        <br />  
        Based on the wallet selection and configuration, select your own key to make payment:<br />
        <select id="selPayKey" class="options">
            <option value="__clr"></option>
            <option value="0">offline0</option>
            <option value="1">offline1</option>
        </select>
        <button class="keys" onclick="???">Check key balance</button>
        <br />
        <br />
        <table border="1">
            <tr>
                <td width="60%" >
                    Provide recipient's<br />
                    <input type="text" id="otherAddress" value="" size="60" onkeypress="JavaScript:updateProgress()">address, or<br />
                    <input type="text" id="otherPubKey" value="" size="60" onkeypress="JavaScript:updateProgress()">public key<br />
                    <button class="keys" onclick="???">Payment to other account</button>
                </td>
                <td valign="top">
                    For payment to your own wallet, select destination key:<br />
                    <select id="selOwnKey" class="options">
                        <option value="__clr"></option>
                        <option value="0">offline0</option>
                        <option value="1">offline1</option>
                    </select>
                    <button class="keys" onclick="???">Check key balance</button><br />
                    <br />
                    <button class="keys" onclick="???">Payment to same wallet</button>
                </td>
            </tr>
        </table>
        <br />
        <span id="payProgress">...</span>
    </div>

    <div id="Balance" class="tabcontent maintab">
        <h3>Balance</h3>
        <p>
            Check the balances belonging to one of your addresses
        </p>
        <table>
            <tr>
                <td>
                    Check your
                    <br /><button type="button" onClick="JavaScript:doGET('address/{addressb}/balance','responseB')" style="background-color:#ff0000"> /balance/{address}</button>
                    <select id="paddressb">
                        <option value="Volvo">Volvo</option>
                        <option value="Saab">Saab</option>
                        <option value="Mercedes">Mercedes</option>
                        <option value="Audi">Audi</option>
                    </select>
                    <button type="button" onClick="document.getElementById('responseB').value=''">Reset Log</button>
                    <br /><textarea id="responseB" cols="50" rows="12"></textarea>
                </td>
                <td>

                </td>
            </tr>
        </table>
    </div>
    <div id="TxView" class="tabcontent maintab">
        <h3>TxView</h3>
        <p>TxView is the capital of Japan.</p>
    </div>

    <div id="Info" class="tabcontent maintab">
        <h3>PDPC_Coin Wallet</h3>
        <p>
            PDPC_Coin Wallet is is a simple, low level Wallet function which supports the following features:
            <ul>
                <li>Generate key pairs (weak security, stored in Flask)</li>
                <li>Make payments </li>
                <li>Check current balances </li>
                <li>Check related transactions </li>
            </ul>
        </p>
    </div>


    <script>
        /*
        * State Management
        */
        $(".alert").css("display", "none");
        initState();

        function h(message) {
            return "<u>" + message + "</u>";
        }

        function doAlert(message, level) {
            var tim = 5000;
            if (level == 0) {
                $(".alert").css("background-color", "red");
            } else if (level == 1) {
                $(".alert").css("background-color", "orange");
                tim = 3000;
            } else if (level == 9) {
                $(".alert").css("background-color", "green");
                tim = 2000;
            }
            $("#alertText").html("  " + message);
            $(".alert").css("display", "block");
            setTimeout(function () {
                closeAlert();
            }, tim);
        }

        function closeAlert() {
            $(".alert").css("display", "none");
            $(".alert").css("background-color", "white");
        }

        function initState() {
            state = { "wallet": "", "key": "" };
            $("#wallets").val("");
            $('#selWallet').val("__clr");
            $('#walletName').val("");
            $("#quickSelWallet").removeAttr("checked");
            $("#quickSelWallet").prop("checked", false);
            $("#quickSelWallet").attr("checked", false);
            updateStateInfo();
        }

        function updateStateInfo() {
            $("#state").text("Wallet: " + state.wallet);
        }


        /*
            * Manage the keys and wallets
            */

        function createWallet() {
            var name = $("#walletName").val();
            var xxsel = document.getElementById("quickSelWallet").checked;
            closeWallet();
            if (name.length > 0) {
                json = doPOSTSynch("wallet/create", null, '{"name": "' + name + '"}');
                if (json.message === name) {
                    if (xxsel === true) {
                        // careful json changes here!!
                        prepareSelectWallet();
                        useWallet(name,true);
                    }
                    doAlert("Creation of wallet " + h(name) + " succeded.", 9)
                }
                else {
                    doAlert("Creation not successful, Node said: "+h(json.message),0)
                }

            } else {
                doAlert("Missing " + h("Wallet name") +", one is required for Create Key", 0);
            }
        }

        function closeWallet() {
            initState();
        }

        function clrWallet() {
            useWallet("", true);
        }

        function populateSelOptions(id, items) {
            id = "#" + id;
            $(id).empty(); //remove all child nodes
            for (var i = 0; i < items.length; i++) {
                var newOption = $('<option value="' + items[i] + '">' + items[i] + '</option>');
                $(id).append(newOption);
            }
        }

        function prepareSelectWallet() {
            var sel = $('#selWallet').find(":selected").text();
            var val = $('#selWallet').find(":selected").val();
            json = doGETSynch("wallet/list/wallet");
            populateSelOptions('selWallet', json.walletList);
            if (sel != "") { 
                useWallet(sel,false);
                $('#selWallet').val(val);
            }
        }

        function selectWallet() {
            var sel = $('#selWallet').find(":selected").text();
            var val = $('#selWallet').find(":selected").val();
            var chk = document.getElementById("usePubKey").checked || document.getElementById("useAddress").checked
                || document.getElementById("useName").checked;
            useWallet(sel,false);
            $('#selWallet').val(val);
            if (!chk) {
                doAlert("Remember to choose the mode for you to select keys in other steps!", 1)
            } else {
                state.sel = {
                    "pub": document.getElementById("usePubKey").checked,
                    "add": document.getElementById("useAddress").checked,
                    "nam": document.getElementById("useName").checked
                }
            }
        }

        function useWallet(name,alertEmpty,alertName) {
            closeWallet();
            if (name.length > 0) {
                state.wallet = name;
                $('#selWallet').val(name);
                doAlert("Wallet selected: "+h(name), 9);
            } else {
                if (alertEmpty) {
                    doAlert("Wallet selection cleared", 9);
                }
            }
            updateStateInfo();
        }


        /* 
         * Payment section
         */

        function updateProgress() {
            setTimeout(function () {
                var info = "Make payment of " + h($("#payAmount").val()) + " with fees " + h($("#payFees").val()) + " using key: " + h($("#selPayKey").val());
                var hasOther = false;
                if ($("#otherAddress").val().length > 0 && $("#otherPubKey").val().length > 0) {
                    doAlert("Only one recipient information to be provided!", 0);
                    return;
                }
                if ($("#otherAddress").val().length + $("#otherPubKey").val().length > 0) {
                    hasOther = true;
                    info = info + " to a specific ";
                    if ($("#otherAddress").val().length > 0) {
                        info = info + h(" address " + $("#otherAddress").val());
                    } else {
                        info = info + h(" public key " + $("#otherPubKey").val());
                    }
                }
                var own = $("#selOwnKey").val();
                if (own.length > 0) {
                    info = info + " to a key inside same wallet " + h(own);
                }
                $("#payProgress").html(info);
            }, 100);
        }
        function prepareSelection() {
            var sel = $('#selPayKey').find(":selected").text();
            var val = $('#selPayKey').find(":selected").val();
            json = doGETSynch("wallet/list/keys/s" + (state.sel.pub ? "py" : "") + (state.sel.add ? "ay" : "")
                + (state.sel.nam ? "ny" : "")+"/"+state.wallet);
            populateSelOptions('selPayKey', json.keyList);
            $('#selPayKey').val(val);                
        }

        function preparePayment() {
            prepareSelection();
        }

        /*
            * Tab Manager
            */
        function openTab(evt, tabs, tabName) {
            if (state.wallet.length == 0) {
                if ((tabs === "maintab") && ((tabName === "Balance") || (tabName === "Payment"))) {
                    doAlert("No Wallet selected, required for " + tabName, 1);
                    return;
                }
            }
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent " + tabs);
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks " + tabs);
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
            if (tabName === "Balance") {
                document.getElementById('paddressb').value = document.getElementById('paddressb').value + "x"
            } else if (tabName === "selectWallet") {
                prepareSelectWallet();
            } if (tabName === "Payment") {
                preparePayment();
            }
        }
    </script>

</body>
</html>
