<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        .border {
            border: 3px solid green;
        }

        .options {
            font-size: 12px;
        }

        .alt1 {
            background-color: aquamarine;
        }

        .alt2 {
            background-color: aqua;
        }
    </style>
</head>
<body>
    Welcome to PDPC_Coin <b>Visualiser:</b>
    Show Control: <input type="checkbox" id="ctrl">
    &nbsp;&nbsp;
    Show page: <input type="checkbox" id="GUI">
    <select id="viewsizes" class="options">
        <option value="1">small</option>
        <option value="3">medium</option>
        <option value="5">large</option>
    </select>
    <br />
    <span class="alt1">
        Cont. Scan: <input type="checkbox" id="scan">
        <button type="button" class="options" onClick="JavaScript: newScan();">newScan</button>
    </span>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="alt2">
        Tracking:
        <button type="button" class="options" id="crun" onClick="JavaScript: setTimeout(function () {collectRun()},100)">run</button>
        <button type="button" class="options" id="cpause" onClick="JavaScript:setTimeout(function () {collectPause()},100)">pause</button>
        <button type="button" class="options" id="cstep" onClick="JavaScript:setTimeout(function () {collectStep()},100)">step</button>
        <button type="button" class="options" onClick="JavaScript: setTimeout(function () {collectRegex($('#trackRegex').val());},100)">Limit(regex)</button>
        dom <input type="checkbox" id="autoDom"><input type="text" value="." class="options" size="30" id="trackRegex">
        <button type="button" class="options" id="csusp" onClick="JavaScript: setTimeout(function () {collectSuspend();},100)">Suspend tracking</button>
        No text(;) <input type="text" value="" class="options" size="35" id="noText">
    </span>
    <div id="control"></div>
    <div class="iframes" id="views">
        <table id="sets">
            <tr>
                <td id="opt" class="options alt1">
                    IPMinMax 127.0.0.x:
                    <input type="text" value="0" class="options" size="5" id="IPMin">
                    <input type="text" value="0" class="options" size="5" id="IPMax">
                    <br />
                    Circle
                    <select id="circle" class="options">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    Max. nodes
                    <select id="maxnodes" class="options">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <select id="type" class="options">
                        <option value="BCNode" selected>BCNode</option>
                        <option value="Wallet">Wallet</option>
                        <option value="Miner">Miner</option>
                    </select>
                    <br />
                    Offset:
                    <input type="range" min="1" max="360" value="50" class="options" id="off1" oninput="drawCanvas();">
                    <br />
                    Size:
                    <input type="range" min="1" max="100" value="50" class="options" id="siz1" oninput="drawCanvas();">
                </td>
                <td id="opt" class="options alt2">
                    IPMinMax 127.0.0.x:
                    <input type="text" value="30" class="options" size="5" id="IPMin">
                    <input type="text" value="34" class="options" size="5" id="IPMax">
                    <br />
                    Circle
                    <select id="circle" class="options">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    Max. nodes
                    <select id="maxnodes" class="options">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <select id="type" class="options">
                        <option value="BCNode">BCNode</option>
                        <option value="Wallet">Wallet</option>
                        <option value="Miner" selected>Miner</option>
                    </select>
                    <br />
                    Offset:
                    <input type="range" min="1" max="360" value="50" class="options" id="off2" oninput="drawCanvas();">
                    <br />
                    Size:
                    <input type="range" min="1" max="100" value="50" class="options" id="siz2" oninput="drawCanvas();">
                </td>
                <td id="opt" class="options alt1">
                    IPMinMax 127.0.0.x:
                    <input type="text" value="50" class="options" size="5" id="IPMin">
                    <input type="text" value="54" class="options" size="5" id="IPMax">
                    <br />
                    Circle
                    <select id="circle" class="options">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    Max. nodes
                    <select id="maxnodes" class="options">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <select id="type" class="options">
                        <option value="BCNode">BCNode</option>
                        <option value="Wallet" selected>Wallet</option>
                        <option value="Miner">Miner</option>
                    </select>
                    <br />
                    Offset:
                    <input type="range" min="1" max="360" value="50" class="options" id="off3" oninput="drawCanvas();">
                    <br />
                    Size:
                    <input type="range" min="1" max="100" value="50" class="options" id="siz3" oninput="drawCanvas();">
                </td>
                <td id="opt" class="options alt2">
                    IPMinMax 127.0.0.x:
                    <input type="text" value="92" class="options" size="5" id="IPMin">
                    <input type="text" value="92" class="options" size="5" id="IPMax">
                    <br />
                    Circle
                    <select id="circle" class="options">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    Max. nodes
                    <select id="maxnodes" class="options">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <select id="type" class="options">
                        <option value="BCNode">BCNode</option>
                        <option value="Wallet">Wallet</option>
                        <option value="Miner">Miner</option>
                        <option value="Faucet" selected>Faucet</option>
                    </select>
                    <br />
                    Offset:
                    <input type="range" min="1" max="360" value="50" class="options" id="off4" oninput="drawCanvas();">
                    <br />
                    Size:
                    <input type="range" min="1" max="100" value="50" class="options" id="siz4" oninput="drawCanvas();">
                </td>
                <td id="opt" class="options alt1">
                    IPMinMax 127.0.0.x:
                    <input type="text" value="1" class="options" size="5" id="IPMin">
                    <input type="text" value="6" class="options" size="5" id="IPMax">
                    <br />
                    Circle
                    <select id="circle" class="options">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    Max. nodes
                    <select id="maxnodes" class="options">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <select id="type" class="options">
                        <option value="BCNode" selected>BCNode</option>
                        <option value="Wallet">Wallet</option>
                        <option value="Miner">Miner</option>
                    </select>
                    <br />
                    Offset:
                    <input type="range" min="1" max="360" value="50" class="options" id="off5" oninput="drawCanvas();">
                    <br />
                    Size:
                    <input type="range" min="1" max="100" value="50" class="options" id="siz5" oninput="drawCanvas();">
                </td>
            </tr>
        </table>
    </div>
    <div id='radar' align="center">
        Refresh Data Rate <input type="range" min="800" max="3000" value="1500" class="slider" id="refreshRate">
        Anim Delay <input type="range" min="10" max="500" value="150" class="slider" id="animDelay">
        Canvas Width <input type="range" min="100" max="1200" value="1000" class="slider" id="twidth" oninput="resizeCanvas();">
        Canvas Height <input type="range" min="100" max="900" value="400" class="slider" id="theight" oninput="resizeCanvas();">
        <br />
        <canvas onmousemove="draw(event)" id="canvas" class="border">Oops, no canvas supported by your browser?</canvas>
    </div>

    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/vis_hooks.js"></script>
    <script>
        ctx = null
        maxIter = 32;

        function clearDom(dom) {
            return dom.replace(/\./g, "").replace(/:/g, "").replace(/\//g, "");
        }

        $(document).ready(function () {
            ctx = $("#canvas")[0].getContext('2d');
            $("#scan").prop("checked", false);
            $("#ctrl").prop("checked", true);
            init();
            lastGUI = "";
            drawGrid();
        });

        function init() {
            nodes = {
                "B": {},
                "W": {},
                "M": {},
                "F": {},
                // debug versions
                "*B": {},
            }

            comNodes = []
            nodesstate = ""

            rings = [[], [], [], [], []]

            col = {
                "B": ['rgb(0,0,255)', 'rgb(0,255,255)', 'rgb(0,0,0)'],
                "M": ['rgb(210,105,30)', 'rgb(0,255,255)', 'rgb(0,0,0)'],
                "W": ['rgb(255,255,0)', 'rgb(0,255,255)', 'rgb(0,0,0)'],
                "F": ['rgb(255, 200, 25)', 'rgb(76, 58, 0)', 'rgb(204, 197, 178)'],
                "*B": ['rgb(255,255,255)', 'rgb(0,255,255)', 'rgb(255,255,255)'],
            }

            animCol = {
                "info": ['rgb(0,0,255)', 'rgb(0,255,255)', 'rgb(0,0,0)'],
                "peers": ['rgb(255, 194, 0)', 'rgb(0,255,255)', 'rgb(255, 194, 0)'],
                "mining/get": ['rgb(210,0,0)', 'rgb(0,255,0)', 'rgb(0,0,0)'],
                "mining/sub": ['rgb(0,0,210)', 'rgb(76, 58, 0)', 'rgb(204, 197, 178)'],
                "blocks": ['rgb(0,0,210)', 'rgb(255,255,0)', 'rgb(255,0,0)']
            }
            ctx.canvas.width = getWidth();
            ctx.canvas.height = getHeight();
        }


        function draw(evt) {
            if (ctx != null) {
                globMousePos = getMousePos(ctx.canvas, evt);
            }
        }


        function collectSizeRotate() {
            setSizes = [];
            rot = [];
            for (var i = 1; i < rings.length + 1; i++) {
                setSizes.push(+$("#siz" + i)[0].value);
                rot.push(+$("#off" + i)[0].value);
            }
        }


    </script>
    <script src="../static/js/vis_coms.js"></script>
    <script src="../static/js/vis_scan.js"></script>
    <script src="../static/js/vis_draw.js"></script>
</body>
</html>